###> PhpStorm ###
**/.idea/workspace.xml **/.idea/tasks.xml
.idea/workspace.xml
/.idea/
.idea/

vendor/
/vendor/

composer.lock
/phpunit.xml
/var/cache/test/
/tests/cache
/tests/logs
.phpunit.result.cache